<h4>Please enter your name to play</h4>
<form action="/new_player" method="post">
  <!-- method="post" is being routed to a different path. the form will be sumitted as a post to the new_player--> 
  <input type="text" name="player_name" placeholder="Type your name here"/>
  <br/>
  <input type="submit" class="btn btn-primary" />
</form>
<!-- using bootstrap for looks -->

